/* General Styles */
body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('back.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #00000096;
    backdrop-filter: blur(10px);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover,
nav ul li a.active {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    display: flex;
}


/*  */

.mainBoxesDiv {  
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
}

.boxesDiv {
    background-color: rgba(40, 40, 40, 0.564);
    backdrop-filter: blur(15px);
    min-height: 550px;
    width: 48%;
    border-radius: 20px;
}

.textBoxes{
    color: #f0f0f0;
    text-align: center;
    padding: 10px 30px;
    text-align: justify;
}
.textBoxes h2{
    font-size: 50px;
}

.textBoxes p{
    font-size: 30px;
}

/* Responsive */

@media screen and (max-width:930px){
    .textBoxes h2{
        font-size: 40px;
    }
    
    .textBoxes p{
        font-size: 20px;
    }
}

@media screen and (max-width:850px){
    .textBoxes h2{
        font-size: 35px;
    }
    
    .textBoxes p{
        font-size: 20px;
    }
}

@media screen and (max-width:680px){
   
    .mainBoxesDiv{
        flex-direction: column;
    }
    .boxesDiv{
        width: 100%;
    }

}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 img {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}


/* Navigation Icons */
nav ul li a img {
    width: 20px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
